<div class="divider name-list">
  <a href="https://github.com/happypeter/haoqi_alipay">课程全部源代码都在 Github 上</a>
</div>
<div class="contributors">
  <div class="row clearfix">
    <div class="name-card contributor">
      <img src="images/index/peter.jpg" alt="happypeter">
      <div class="text">
        <div class="name">
        happypeter
        </div>
        <div class="job-title"><a href="http://haoduoshipin.com">好多视频网创始人</a></div>
        本课程作者。
      </div>
    </div>
    <div class="name-card contributor">
      <img src="images/index/billie.png" alt="billie66">
      <div class="text">
        <div class="name">
        billie66
        </div>
        <div class="job-title"><a href="http://haoqicat.com">好奇猫共同创始人</a></div>
        实现了再版的基本 demo 代码。
      </div>
    </div>
  </div>
</div>
