<div class="contents-wrapper">
  <div class="table-of-contents" id="read">
    <p class="part"> 支付宝，很方便 </p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
         <td class="chapter-index">第一章</td>
         <td class="chapter-title">
           <a href="intro.html">课程介绍</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第二章</td>
         <td class="chapter-title">
           <a href="contract.html">签约支付宝</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第三章</td>
         <td class="chapter-title">
           <a href="app-setup.html">搭建网站基本框架</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第四章</td>
         <td class="chapter-title">
           <a href="new-order.html">新建订单</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第五章</td>
         <td class="chapter-title">
           <a href="request-url.html">构建请求 url</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第六章</td>
         <td class="chapter-title">
           <a href="return-url.html">同步通知</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第七章</td>
         <td class="chapter-title">
           <a href="send-goods.html">自动发货</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第八章</td>
         <td class="chapter-title">
           <a href="notify.html">异步通知</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第九章</td>
         <td class="chapter-title">
           <a href="verify.html">验证是否支付宝请求</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
         <td class="chapter-index">第十章</td>
         <td class="chapter-title">
           <a href="end.html">结语</a>
         </td>
       </tr>
     </tbody>
   </table>
 </div>
</div>
