<% content_for :head do %>
订单信息
<% end %>
<div class="order">
 <table class="boxed-group-table">
   <thead>
     <tr>
       <th>交易号</th>
       <th>商品名称</th>
       <th>商品价格（元）</th>
       <th>付款状态</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td><%= @order.out_trade_no %></td>
       <td><%= @order.subject %></td>
       <td> <%= @order.total_fee %></td>
       <td>
         <% if @order.trade_status == "finished" %>
         完成付款
         <% else %>
         未付款
         <% end %>
       </td>
     </tr>
   </tbody>
 </table>
</div>

