default: &default
  alipay:
    pid: '2088402467245232'
    secret: 'p182a5k2ydkoo9fkjncbpysu45ar7qlb'
    seller_email: 'happypeter1983@gmail.com'

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
