*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


body {
  background-color: rgb(235, 239, 242);
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
body, ul, h3, h4, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  min-width: 1000px;
}
header {
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: #FFF;
  font-size: 25px;
  font-weight: 600;
  background-color: rgb(77, 70, 180);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.wrapper {
  width: 960px;
  margin: 50px auto;
}

.items {
  width: 660px;
  margin: 0 auto;
}
.item {
  box-shadow: 0 1px 2px rgba(43,59,93,0.29);
  background-color: #FFF;
  width: 300px;
  margin: 15px;
  float: left;
  border-radius: 5px;
  .cover {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #333;
  }
  .buy-btn {
    transition: all .3s ease-out;
    display: block;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: white;
    border-radius: 0 0 5px 5px;
    background-color: rgb(226, 30, 96);
    &:hover {
      background-color: rgb(243, 80, 135);
    }
  }
}

.new-order {
  text-align: center;
  background-color: #FFF;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(43,59,93,0.29);
  table {
    width: 100%;
    height: 100px;
    margin: 20px auto 50px;
    text-align: center;
    border-collapse: collapse;
    th, td {
      border: 1px solid #ccc;
      padding: 10px;
    }
    th:first-child {
      width: 80px;
    }
    td {
      color: #333;
    }
  }
  .order-button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #26a69a;
    width: 150px;
    padding: 10px;
    text-align: center;
    color: #FFF;
    border: none;
    font-size: 20px;
    transition: all .3s ease-out;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background-color: #2bbbad;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }
}
